<h2>Sign up</h2>

<div class="progress large success radius">
  <span class="meter" style="width: 25%"></span>
</div>
<div class="row">
  <div class="small-6 columns">
    <p>We recommend that everyone in the household sign up together!
    Everyone will need to give input on the tasks and ratings</p>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <div><%= f.label "Household Name" %><br />
      <%= f.text_field :name, autofocus: true %></div>

      <div><%= f.label :email %><br />
      <%= f.email_field :email %></div>

      <div><%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %></div>

      <div><%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

      <% for i in 1..2 do %>
        <h4>Member <%= i %></h4>
        <div class="member">
          <%= f.label "First Name" %>
          <%= f.text_field :members %>
          <%= f.select :type, [['Adult', 1], ['Child', 2]] %>
        </div>
      <% end %>
      <div class="add-member">
        <a href="#" class="button tiny">+ Add Member</a>
      </div>

      <div><%= f.submit "Sign up", :class => "button small radius" %></div>
    <% end %>
   </div>
</div>

<% #render "devise/shared/links" %>
